@import '../../bower_components/bootstrap/less/bootstrap.less';
@import 'variables.less';
// @import (less) '../../site/plugins/oembed/assets/oembed.css';

@import (less) url('./../fonts/panini/stylesheet.css');
@import (less) url('./../fonts/arabesque/stylesheet.css');
@import (less) url('https://fonts.googleapis.com/css?family=Spectral+SC:500|Spectral:400,400i,700,700i');

@mainColor: royalblue;
@charset "UTF-8";


.video {
  .embed-responsive();
  .embed-responsive-16by9();
  iframe {
    .embed-responsive-item();
  }
}
a {
  &, &:hover, &:active {
    color: black;
  }
}
.line {
  .line-item {

    p {
      margin-bottom: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.title {
        font-family: 'Spectral SC', serif;
        text-align: center;
      }
      &.date {
        text-align: left;
        direction: rtl;
      }
      &.type {
        text-align: right;
      }
    }

    margin-bottom: @grid-gutter-width;
  }
}

.tags {
  text-align: center;
  a {
    display: inline-block;
    margin-left: @grid-gutter-width;
    margin-right: @grid-gutter-width;
    font-size: 3.5em;
    // min-width: 5vw;
  }
}

.format{
  font-family: arabesqueregular, 'Spectral', serif;
}
.keyword, .tag {
  font-family: paniniregular, 'Spectral', serif;
  text-transform: lowercase;
}


.poster img {
  .img-responsive();
}
