@import '../../bower_components/bootstrap/less/bootstrap.less';
@import 'variables.less';
// @import (less) '../../site/plugins/oembed/assets/oembed.css';

@import (less) url('https://fonts.googleapis.com/css?family=Spectral+SC:500|Spectral:400,400i,700,700i');
@import (less) url('./../fonts/panini/stylesheet.css');
@import (less) url('./../fonts/arabesque/stylesheet.css');

@mainColor: royalblue;
@charset "UTF-8";


.video {
  .embed-responsive();
  .embed-responsive-16by9();
  iframe {
    .embed-responsive-item();
  }
}
a {
  &, &:hover, &:active {
    color: black;
  }
}

body {
  font-family: 'Spectral', serif;
  margin-top: @grid-gutter-width*3
}
.maintitle {
  font-size: 1.8em;
  text-align: center;
  height: @grid-gutter-width*3;
  background: white;
  position: fixed;
  top:0;
  z-index: 10000;
  width: 100%;
}
.line {
  .line-item {

    p {
      margin-bottom: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.title {
        font-family: 'Spectral SC', serif;
        text-align: center;
      }
      &.date {
        text-align: left;
        direction: rtl;
      }
      &.type {
        text-align: right;
      }
    }

    margin-bottom: @grid-gutter-width;
  }
}

.sentence {

  font-family: 'Spectral', serif;
  font-size:1.8em;

  .tags a {
    font-family: paniniregular, 'Spectral', serif;
    text-transform: lowercase;
  }
}

a.year, .formats a {
  font-family: paniniregular, 'Spectral', serif;
}
a.format {
  font-family: arabesqueregular, 'Spectral', serif;
  text-transform: lowercase;
}



.poster img {
  .img-responsive();
}
